table.blue, table.blue td, table.blue th { border: 2px solid #006699 }
.huge {text-decoration:none; color:#000000; font-size: 48px}
.title {font-size: 24px;}
.copyright {font-size: 36px; font-weight: bold;}
.university {font-size: 14px; font-weight:bold;}
.credits {font-size: 12px; font: 14px Verdana, sans-serif; color:#BCBEBC}
/*.credits {font-size: 12px; font-weight:normal; }*/
.links {text-decoration:none; color:#000000;}
.contact {font-size: 14px; color:#BCBEBC;}
.time {font-size: 14px;}
.version {font-size: 10px; color:#BCBEBC;}
.seperators {color: #FFFFFF; font-size: 16px;}
/*.links {text-decoration:none; color: #FFFFFF; font: bold 12px Verdana, sans-serif;}	
.links a:hover{color:#DCDC00;}
.sel_links {color: #DCDC00}*/

#navlist {
		/*vertical-align:bottom;*/
		padding:0px 0px;
		margin:5px 0px;		/* prepei na einai idio me to margin kai to padding-bottom tou li a */
		border:none;
    font: bold 12px Verdana, sans-serif;
}

#navlist li {
        list-style: none;
				overflow:hidden;
        margin: 0px 0px;		/* apostash anamesa se links */
				padding:0px 0px;
				border:none;
        display: inline;
}

#navlist li a {			
				/*vertical-align:bottom;*/
				margin:5px 0px;
        padding: 4px 5px 5px 5px;
				margin-right: 3px;	/* apostash metaxy twn tabs */
        border: 1px solid #778;
        border-bottom: none;
        background: #EEEECC;
        text-decoration: none;		
				color:#606060;
}

/*#navlist li a:visited { color: #667; }*/

#navlist li a:hover {
        border: 1px solid #778;
        border-bottom: none;
				/*background: #DCDC00;*/
        background:#CDCD6E;
				color:#000000;
}

#navlist li a#current {
        border: 1px solid #778;
        border-bottom: none;
        background: #006699;
				color:#DCDC00;
}

#sublinks {}
#sublinks a{text-decoration:none; color: #FFFFFF; font: bold 12px Verdana, sans-serif;}	
#sublinks a:hover{color:#DCDC00;}
#sublinks a#current{color:#DCDC00;}

html, body {height: 100%;}
body {margin: 0;padding: 0;}
#container {
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
}
html>body #container {
	height: auto;
}
#content {
	padding-top: 1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom: 48px;
}
#footer {
	font-size: 12px; 
	font-weight:normal;	
	text-align:center;
	position: absolute;
	bottom: 0;
	padding: 0px;
	padding-top:0px;
	padding-bottom:0px;
	width: 100%;
	
	/* solid footer */
	background: #FFFFFF;
	color: #000000;
}





